[Unit]
Description=Init quectel mbim modem

[Service]
Type=simple
ExecStart=/usr/bin/init.quectel.mbim.sh start
ExecStop=/usr/bin/init.quectel.mbim.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
