[Unit]
Description=VIA Thermal Monitor
After=android-tools-adbd.service

[Service]
Environment="ARG1=0"
ExecStart=/usr/bin/vthermal.sh
Type=simple
StandardOutput=tty
StandardError=tty

[Install]
Alias=iBathroom
WantedBy=multi-user.target
